* {
    -fx-bg-color: #3C3F41;
    -fx-accent: #506198;
}

#window {
    -fx-background-color: -fx-bg-color;
    -fx-background-radius: 5px;
    -fx-background-insets: 5px;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

#title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#info-text-area {
    -fx-font-size: 14px;
}

.element-node {
    -fx-background-radius: 3px;
}

.element-node .symbol {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.s-block {
    -fx-background-color: #D32143;
}

.s-block .label {
    -fx-text-fill: white;
}

.p-block {
    -fx-background-color: #2196F3;
}

.p-block .label {
    -fx-text-fill: white;
}

.d-block {
    -fx-background-color: #1ED11B;
}

.d-block .label {
    -fx-text-fill: white;
}

.f-block {
    -fx-background-color: #F2C80A;
}

.f-block .label {
    -fx-text-fill: black;
}

.context-menu {
    -fx-background-color: -fx-bg-color;
    -fx-background-radius: 3px;
    -fx-border-width: 0.5px;
    -fx-border-style: solid;
    -fx-border-color: lightgray;
    -fx-border-radius: 3px;
}

.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.text-area .viewport .content {
    -fx-background-color: -fx-bg-color;
}

.scroll-pane,
.scroll-pane > .viewport,
.scroll-pane .corner {
    -fx-background-color: -fx-bg-color;
}

.scroll-bar .track-background,
.scroll-bar .track,
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: -fx-bg-color;
}

.scroll-bar .thumb {
    -fx-background-color: #313335;
    -fx-background-radius: 3px;
}

.label {
    -fx-text-fill: white;
}
