* {
    -fx-bg-color: white;
    -fx-accent: #506198;
}

#root {
    -fx-background-color: -fx-bg-color;
}

GridPane {
    -fx-background-color: -fx-bg-color;
}

#header-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.element-node {
    -fx-background-radius: 3px;
}

.element-node .symbol {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.s-block {
    -fx-background-color: #D32143;
}

.s-block .label {
    -fx-text-fill: white;
}

.p-block {
    -fx-background-color: #2196F3;
}

.p-block .label {
    -fx-text-fill: white;
}

.d-block {
    -fx-background-color: #1ED11B;
}

.d-block .label {
    -fx-text-fill: white;
}

.f-block {
    -fx-background-color: #F2C80A;
}

.f-block .label {
    -fx-text-fill: black;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.menu-bar {
    -fx-background-color: -fx-bg-color;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0, 0, 0);
}

.context-menu {
    -fx-background-color: -fx-bg-color;
    -fx-background-radius: 3px;
    -fx-border-width: 0.5px;
    -fx-border-style: solid;
    -fx-border-color: lightgray;
    -fx-border-radius: 3px;
}

.place-holder {
    -fx-background-color: lightgray;
    -fx-background-radius: 3px;
}

.place-holder .label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

